# Chombo specific
pout.*
.bashrc
*.pbs
*.s
d
o
p
f
*_F.H
.DS_Store
log*
*.ex
*.swp
*.out
*.hdf5
*.dSYM

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
